<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header>
        <h1>Bienvenue sur le port de plaisance Russell</h1>
    </header>
    <main>
        <form action="User">
            <label for="email">Adresse email </label>
            <input type="text" name="email" id="email"required> <br>
            <label for="password">Mot de passe</label>
            <input type="text" name="password" required><br>
            <button>connexion</button>
        </form>
    </main>
    <footer>
       <a href="documentation">documentation API</a>
    </footer>
    
</body>
</html>